In [1]:
import numpy as np
import pandas as pd

In [2]:
data_set = pd.read_csv("Top Indian Places to Visit.csv")

In [3]:
data_set.head()

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,NaN,Historical,Yes,2.60,Evening
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,NaN,Historical,Yes,0.40,Afternoon
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,NaN,Religious,No,0.40,Afternoon
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,NaN,Scientific,Yes,0.31,Morning

In [4]:
data_set.shape

(325, 16)

In [5]:
data_set.isnull().values.any()

True

In [6]:
data_set.isnull().sum()

Unnamed: 0                            0
Zone                                  0
State                                 0
City                                  0
Name                                  0
Type                                  0
Establishment Year                    0
time needed to visit in hrs           0
Google review rating                  0
Entrance Fee in INR                   0
Airport with 50km Radius              0
Weekly Off                          293
Significance                          0
DSLR Allowed                          0
Number of google review in lakhs      0
Best Time to visit                    0
dtype: int64

In [7]:
data_set.duplicated().sum()

0

In [8]:
data_set

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,NaN,Historical,Yes,2.60,Evening
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,NaN,Historical,Yes,0.40,Afternoon
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,NaN,Religious,No,0.40,Afternoon
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,NaN,Scientific,Yes,0.31,Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,320,Western,Gujarat,Gandhinagar,Akshardham,Temple,1992,3.0,4.6,0,Yes,Monday,Religious,No,0.18,All
321,321,Central,Uttar Pradesh,Agra,Agra Fort,Fort,1565,2.0,4.5,40,Yes,NaN,Historical,Yes,1.30,Afternoon
322,322,Central,Madhya Pradesh,Bhopal,Madhya Pradesh Tribal Museum,Museum,2013,2.0,4.7,10,Yes,Monday,Cultural,Yes,0.15,All
323,323,Northern,Rajasthan,Jaipur,City Palace,Palace,1727,2.0,4.4,200,Yes,NaN,Historical,Yes,0.51,Morning
324,324,Northern,Rajasthan,Jaipur,Albert Hall Museum,Museum,1887,2.0,4.5,200,Yes,NaN,Historical,Yes,0.63,All

In [9]:
#Eliminating columns which are not required for this approach
data_set = data_set.drop(data_set.columns[[0,1,2,5,6,10,12,13,15]],axis = 1)

In [10]:
data_set

,City,Name,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Weekly Off,Number of google review in lakhs
0,Delhi,India Gate,0.5,4.6,0,NaN,2.60
1,Delhi,Humayun's Tomb,2.0,4.5,30,NaN,0.40
2,Delhi,Akshardham Temple,5.0,4.6,60,NaN,0.40
3,Delhi,Waste to Wonder Park,2.0,4.1,50,Monday,0.27
4,Delhi,Jantar Mantar,2.0,4.2,15,NaN,0.31
...,...,...,...,...,...,...,...
320,Gandhinagar,Akshardham,3.0,4.6,0,Monday,0.18
321,Agra,Agra Fort,2.0,4.5,40,NaN,1.30
322,Bhopal,Madhya Pradesh Tribal Museum,2.0,4.7,10,Monday,0.15
323,Jaipur,City Palace,2.0,4.4,200,NaN,0.51
324,Jaipur,Albert Hall Museum,2.0,4.5,200,NaN,0.63

In [11]:
# filling all NaN values with 'NO' in 'Weekly Off' 
# column denoting there is no weekly off
data_set = data_set.fillna('NO')

In [12]:
# Introducing one new column 'New Rating' having the
# corresponding sum of 'Google review rating'and 'Number of google review in lakhs'
newRatings = []        
for i in range(len(data_set)):
    newRatings.append(data_set['Google review rating'].iloc[i]+data_set['Number of google review in lakhs'].iloc[i])
data_set.insert(7, "New Rating", newRatings, True)

In [13]:
data_set

,City,Name,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Weekly Off,Number of google review in lakhs,New Rating
0,Delhi,India Gate,0.5,4.6,0,NO,2.60,7.20
1,Delhi,Humayun's Tomb,2.0,4.5,30,NO,0.40,4.90
2,Delhi,Akshardham Temple,5.0,4.6,60,NO,0.40,5.00
3,Delhi,Waste to Wonder Park,2.0,4.1,50,Monday,0.27,4.37
4,Delhi,Jantar Mantar,2.0,4.2,15,NO,0.31,4.51
...,...,...,...,...,...,...,...,...
320,Gandhinagar,Akshardham,3.0,4.6,0,Monday,0.18,4.78
321,Agra,Agra Fort,2.0,4.5,40,NO,1.30,5.80
322,Bhopal,Madhya Pradesh Tribal Museum,2.0,4.7,10,Monday,0.15,4.85
323,Jaipur,City Palace,2.0,4.4,200,NO,0.51,4.91
324,Jaipur,Albert Hall Museum,2.0,4.5,200,NO,0.63,5.13

In [14]:
# The actual function which recommends top 5 
# weekend places based on some criteria
def cityName(city):
    #Check whether inputted city exists in the list
    for i in range(len(data_set)):
        f = 0
        if(data_set['City'].iloc[i].lower() == city.lower()):
            city = data_set['City'].iloc[i]
            f = 1
            break
    if(f == 0):
        print(f"There is no city named '{city}' in the list.")
    
    #Contains a new dataset of all rows and col of the given City
    city_data = data_set.loc[data_set['City'] == city]

    #Sorting the 'city_data' in descending order
    sortedCity = city_data.sort_values(by = ['New Rating' , 'Google review rating'],ascending=False) 
    
    #filtering all values satisfying Time-Needed>=1,Review>4.1,
    #No-of-Review>=0.2,fee<=1000,Weekly-Off != Sunday
    topPlaces = sortedCity.loc[(sortedCity["time needed to visit in hrs"]>=1)&(sortedCity["Google review rating"]>4.1)&(sortedCity['Number of google review in lakhs']>=0.2)&(sortedCity['Entrance Fee in INR']<=1000)&(sortedCity["Weekly Off"]!='Sunday')]
    
    #filtering all values satisfying Time-Needed<1,Review<=4.1,
    #No-of-Review<0.2,fee>1000,Weekly-Off != Sunday
    avgPlaces = sortedCity.loc[(sortedCity["time needed to visit in hrs"]<1)|(sortedCity["Google review rating"]<=4.1)|(sortedCity['Number of google review in lakhs']<0.2)|(sortedCity['Entrance Fee in INR']>1000)&(sortedCity["Weekly Off"]!='Sunday')]
    
    #Calculate no of rows for each dataset
    topLen = len(topPlaces) 
    avgLen = len(avgPlaces)
    
    if(topLen >= 5):
        for i in range(1,topLen+1):
            if(i<6):
                print(str(i)+')'+topPlaces['Name'].iloc[i-1])
            else:
                break
    else:
        i = 0
        for j in range(1,topLen+1):
            if(j<6):
                print(str(j)+')'+topPlaces['Name'].iloc[j-1])
                i = j
            else:
                break
        for j in range(1,avgLen+1):
            if(j <= (5-topLen)):
                print(str(i+1)+')'+avgPlaces['Name'].iloc[j-1])
                i+=1
            else:
                break

In [15]:
cityName("jaipur")  #function call

1)Amber Fort
2)Hawa Mahal
3)Albert Hall Museum
4)City Palace
5)Jaigarh Fort